.page-header {
  background: #f0f2f5 !important;
  padding: 0 10px 10px 10px !important;
  .btn-logout {
    font-size: 20px;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }
  .info-user {
    display: inline-block;
    margin-right: 5px;
    float: right;
    font-size: 20px;
    // margin-right: 30px;
    .name-user {
      color: map-get($map: $colors, $key: brand-css);
    }
  }
}
.form-search {
  padding: 10px;
}
.headerRigtht {
  background: map-get($colors, bg-gray);
  flex: 0 0 100px;
  max-width: 100px;
  min-width: 100px;
  width: 100px;
}

@media screen and (max-width: 575px) {
  .title-admin {
    font-size: $font-size-lg*1.5;
    font-weight: map-get($map: $font-weight, $key: bold);
  }
}
